:root {
  /* Основные Шрифты */
  -primary-txt--mode-light: #ffffff;
  --secondary-txt--mode-light: #212121;
  --main-txt--mode-light: #ffffff;

  /* Светлая тема текста */
  --primary-txt--mode-light: #555555;
  --secondary-txt--mode-light: #303030;
  --main-txt--mode-light: #555555;

  /* Темная тема текста*/
  --primary-txt--mode-dark: #ffffff;
  --secondary-txt--mode-dark: rgba(157, 164, 189, 0.6);
  --main-txt--mode-dark: #9da4bd;

  /* Светлая тема фона*/
  --primary-bg--mode-light: #ffffff;
  --secondary-bg--mode-light: #f7f7f7;

  /* Темная тема фона*/
  --primary-bg--mode-dark: #191c26;
  --secondary-bg--mode-dark: #111319;
  --main-txt--mode-dark: #757575;
}

/* Common styles */
body {
}
