:root {
  -primary-txt--mode-light: ##ffffff;
  --secondary-txt--mode-light: #212121;
  --main-txt--mode-light: ##ffffff;
}
body {
  background-color: var(#ffffff);
  color: var(--secondary-txt--mode-light);

  font-family: Roboto, sans-serif;
}

.logo {
  font-family: Raleway cursive;
  font-size: 26px;
  line-height: 1.19px;
}
